body {
  background: white;
  margin: 0;
}

body {
  color: #000;
  font-family: 'Lusitana', serif;
}

.site-header {
  align-items: center;
  border-bottom: 1px solid #888;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.site-header .site-name {
  color: #000;
  font-weight: bold;
  font-size: 20px;
  line-height: 3em;
}

.site-header a {
  color: #888;
  text-decoration: none;
}

.site-header a:hover {
  text-decoration: underline;
}

main {
  max-width: 45em;
  margin: 4em auto;
  padding: 0 25px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0 -5px 15px;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
  margin-top: 100px;
}

h3 {
  font-size: 25px;
  margin-top: 50px;
}

p {
  font-size: 20px;
  line-height: 2;
  margin: 0 0 2em;
}

p::first-letter {
  margin-left: 30px;
}

p.lead {
  font-style: italic;
  margin-bottom: 1.5em;
  padding-bottom: 1.2em;
  text-align: center;
}

hr {
  background: none;
  border: 0;
  margin: 30px 0;
  padding: 0;
}

hr::after {
  color: #888;
  content: "* * *";
  display: block;
  font-size: 30px;
  text-align: center;
}

div.fleuron {
  background: url(fleuron.svg) no-repeat center center / contain;
  height: 25px;
  margin: 30px 0;
}
