body {
  background: white;
  margin: 0;
}

body {
  color: #000;
  font-family: 'Crimson Pro', serif;
}

.site-header {
  background: #333;
  box-shadow: 0 4px 5px #FF6363;
  padding: 0 15px;
}

.site-header .inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.site-header .site-name {
  color: #fff;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 3em;
  text-decoration: none;
}

.site-header a.close {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}

main.container {
  margin: 70px auto;
  max-width: 720px;
  padding: 0 15px;
}

main.home {
  margin: 70px 30px;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 0;
}

p, iframe, hr {
  margin-bottom: 30px;
}

h1 {
  font-size: 35px;
}

h1.post-title {
  margin-bottom: 0;
  text-align: center;
}

.post-header::after,
h1.post-title::after {
  border-top: 1px solid #333;
  content: "";
  display: block;
  margin: 20px auto 0;
  width: 60px;
}

.post-header {
  margin-bottom: 30px;
}

.post-header::after {
  margin-top: 3px;
  width: 30px;
}

h2 {
  font-size: 30px;
  margin-top: 100px;
}

h3 {
  font-size: 25px;
  margin-top: 50px;
}

p {
  font-size: 22px;
  line-height: 2;
}

p::first-letter {
  margin-left: 30px;
}

p.lead {
  font-style: italic;
  margin-bottom: 1.5em;
  padding-bottom: 1.2em;
  text-align: center;
}

p strong {
  font-weight: 800;
}

a {
  color: #003a8c;
}

a:hover {
  color: #006d75;
}

hr {
  background: none;
  border: 0;
  height: 30px;
  margin-top: 0;
  padding: 0;
}

hr::after {
  color: #888;
  content: "* * *";
  display: block;
  font-family: 'Crimson Pro';
  font-size: 30px;
  text-align: center;
}

div.fleuron {
  background: url(fleuron.svg) no-repeat center center / contain;
  height: 25px;
  margin: 30px 0;
}

div.youtube iframe {
  display: block;
  margin: auto;
  width: calc(100% - 30px);
  max-width: 720px;
}

.display {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 18px;
}

.topic-list {
  font-size: 20px;
}

.post-list {
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
}

.post-list > .post-list-item {
  margin: 0 70px 60px 0;
  width: 250px;
}

.post-list > .post-list-item > .display {
  border-bottom: 1px dotted #888;
  color: #c00;
}

.post-list > .post-list-item > a {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  margin-top: 0;
  color: #000;
  text-decoration: none;
}
