<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <main class="home">
      <div class="post-header">
        <h1 class="post-title">Nicolas Izenbarri</h1>
      </div>

      <h2>Topics</h2>
      <div class="topic-list">
        <span class="display">Música Clássica / Classical Music</span>
        <a href="/musicaljoke">A Musical Joke</a>
      </div>

      <h2>Recent Posts</h2>
      <div class="post-list">
        {%- for post in site.posts -%}
          <div class="post-list-item">
            <div class="display">{{ post.categories[0] }}</div>
            <a href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
            {{ post.date | date_to_long_string }}
          </div>
        {%- endfor -%}
      </div>

    </div>
  </body>

</html>
