<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <main class="home">
      <div class="post-header">
        <h1 class="post-title">Nicolas Izenbarri</h1>
      </div>

      <h2 class="mt-0">Tópicos / Topics</h2>
      <div class="topic-list">
        {%- for area in site.data.areas -%}
          <div class="topic-list-area">
            <span class="display">{{ area.label }}</span>
            {%- for section in site.data.sections -%}
              {%- if section[1].area == area.id -%}
                <span class="separator">&middot;</span>
                <a href="/{{ section[0] }}">{{ section[1].label }}</a>
              {%- endif -%}
            {%- endfor -%}
          </div>
        {%- endfor -%}
      </div>

      <hr/>

      <h2 class="mt-0">Recent Posts</h2>
      <div class="post-list">
        {%- for post in site.posts -%}
          <div class="post-list-item">
            <div class="display">{{ site.data.sections[post.section].label }}</div>
            <a href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
            {{ post.date | date_to_long_string }}
          </div>
        {%- endfor -%}
      </div>

      <div class="fleuron"></div>

      {%- include footer.html -%}

    </div>
  </body>

</html>
