<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <main class="home">
      <div class="section-header">
        <h1 class="section-title">Nicolas Izenbarri</h1>
      </div>

      <div class="topic-list">
        <span class="display">Blog</span>
        <span class="separator">&middot;</span>
        <a href="/post/microblogging">Microblogging</a>
        <span class="separator">&middot;</span>
        <a href="/post/pt-br">Português</a>
        <span class="separator">&middot;</span>
        <a href="/post/en">English</a>
        <span class="separator">&middot;</span>

        <span class="display">Tópicos / Topics</span>
        {%- for section in site.data.sections -%}
          {% if section[1].type == 'topic' %}
            <span class="separator">&middot;</span>
            <a href="/topic/{{ section[0] }}">{{ section[1].label }}</a>
          {% endif %}
        {%- endfor -%}
        <span class="separator">&middot;</span>

        <span class="display">Reading Lists</span>
        {%- for section in site.data.sections -%}
          {% if section[1].type == 'readinglist' %}
            <span class="separator">&middot;</span>
            <a href="/topic/{{ section[0] }}">{{ section[1].label }}</a>
          {% endif %}
        {%- endfor -%}
      </div>

      <h2 class="mt-0">Recent Posts</h2>
      <div class="post-list">
        {%- for post in site.posts -%}
          <div class="post-list-item">
            <div class="display">
              <a href="/topic/{{ post.section }}">{{ site.data.sections[post.section].label }}</a>
            </div>
            <a href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
            {{ post.date | date_to_long_string }}
          </div>
        {%- endfor -%}
      </div>

      <div class="fleuron"></div>

      {%- include footer.html -%}

    </div>
  </body>

</html>
